---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "milligram/milligram",
        "base",
        "layout"
;
.square-image {
        width: 100px; /* 원하는 너비 설정 */
        height: 100px; /* 원하는 높이 설정 */
        overflow: hidden; /* 넘치는 이미지 부분 숨김 */
    }
    
    .square-image img {
        width: 100%;
        height: auto; /* 이미지 비율 유지 */
    }