---
layout: default
permalink: /notitles/
title: 보드게임 잡담
description: 보드게임을 즐기며 떠오른 생각과 취미 이야기를 가볍게 적는 잡담 공간입니다. 후기나 번역에 담기 어려운 보드게임 관련 단상을 모읍니다.
---

<section class="list-intro">
  <h1>보드게임 잡담</h1>
  <p>후기나 번역에 담기 어려운 생각을 가볍게 적는 곳입니다. 보드게임을 즐기며 떠오른 단상과 취미 이야기를 모읍니다.</p>
</section>

{% for post in site.posts %}
    {% if post.notitles != null %}
        {% cycle 'add row' : '<div class="row">', '', '' %}
            <div class="column column-33">
                <div class="preview-panel">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <img src="{{ post.preview }}" alt="이미지 설명">
                    </a>
                    <div class="post-title">{{ post.title }}</div>
            </div>
            </div>
        {% cycle 'end row' : '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'end row' : '', '</div>', '</div>' %}

