---
layout: default
permalink: /rules/
title: 보드게임 규칙서 번역
description: 국내에 소개되지 않은 보드게임과 워게임의 규칙서를 한국어로 번역해 정리합니다. 솔로 규칙과 확장 규칙을 포함한 보드게임 규칙서 번역 모음입니다.
---

<section class="list-intro">
  <h1>보드게임 규칙서 번역</h1>
  <p>국내에 정식 소개되지 않은 보드게임·워게임의 규칙서를 한국어로 옮깁니다. 솔로 규칙과 확장 규칙까지 직접 번역해 정리합니다.</p>
</section>

{% for post in site.posts %}
    {% if post.rules != null %}
        {% cycle 'add row' : '<div class="row">', '', '' %}
            <div class="column column-33">
                <div class="preview-panel">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <img src="{{ post.preview }}">
                    </a>
                    <div class="post-title">{{ post.title }}</div>
            </div>
            </div>
        {% cycle 'end row' : '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'end row' : '', '</div>', '</div>' %}


<!-- alt="이미지 설명" -->