<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"
    ><img src="/photo/logo2.jpg" width="500"
  /></a>

  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">단편</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/long/">장편</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/rules/">규칙서 번역</a></li>
      <li class="nav-item"><a href="https://www.instagram.com/ddagooo/"><img src="/photo/instagram.png" alt="인스타그램 아이콘" class="icon">인스타그램</a></li>
    </ul>
  </nav>
  <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="{{site.baseurl}}/assets//apple-icon-57x57.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="{{site.baseurl}}/assets//apple-icon-60x60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="{{site.baseurl}}/assets//apple-icon-72x72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="{{site.baseurl}}/assets//apple-icon-76x76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="{{site.baseurl}}/assets//apple-icon-114x114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="{{site.baseurl}}/assets//apple-icon-120x120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="{{site.baseurl}}/assets//apple-icon-144x144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="{{site.baseurl}}/assets//apple-icon-152x152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{site.baseurl}}/assets//apple-icon-180x180.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="{{site.baseurl}}/assets//android-icon-192x192.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{site.baseurl}}/assets//favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="{{site.baseurl}}/assets//favicon-96x96.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{site.baseurl}}/assets//favicon-16x16.png"
  />
  <link rel="manifest" href="/manifest.json" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
  <meta name="theme-color" content="#ffffff" />
</header>
