<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4313378060478414"
     crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% include styles.html %}
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CSE0M4Q6E6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-CSE0M4Q6E6');
    </script>

    {% seo %}

    {% include meta.html %}
    <meta name="google-site-verification" content="3a8mnssZmIM9tmDsJ0RXT2g3_5En9PNrSyrbnhO0xpo" />
</head>