---
layout: default
---

<div class="post">
  <div class="post-nav">
    {% if page.next.short %}
      <a class="nav-item" href="{{ page.next.url | prepend: site.baseurl }}">&laquo; Prev</a>
    {% else %}
      {% for post in site.posts reversed %}
        {% if post.long %}
          {% continue %}
        {% elsif post.rules %}
          {% continue %}
        {% elsif post.notitles %}
          {% continue %}
        {% elsif post == page %}
          {% continue %}
        {% elsif post.short %}
          {% if post.number > page.number %}
            <a class="nav-item" href="{{ post.url | prepend: site.baseurl }}">&laquo; Prev</a>
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}

    {% if page.previous.short %}
      <a class="nav-item" href="{{ page.previous.url | prepend: site.baseurl }}">Next &raquo;</a>
    {% else %}
      {% for post in site.posts %}
        {% if post.long %}
          {% continue %}
        {% elsif post.rules %}
          {% continue %}
        {% elsif post.notitles %}
          {% continue %}
        {% elsif post == page %}
          {% continue %}
        {% elsif post.short %}
          {% if page.number > post.number %}
            <a class="nav-item" href="{{ post.url | prepend: site.baseurl }}">Next &raquo;</a>
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>



<!-- <div class="post">
  <div class="post-nav">
    {% if page.next.short %}
    <a class="nav-item" href="{{ page.next.url | prepend: site.baseurl }}"
      >&laquo; Prev</a>
    {% else %} {% for post in site.posts reversed%} {% if post.long %} {%
    continue %} {% elsif post.rules %} {% continue %} {% elsif post.notitles %} {% continue %} {% elsif post == page %} {% continue %} {% elsif post.short %}
    {% if post.number > page.number %}
    <a class="nav-item" href="{{ post.url | prepend: site.baseurl }}"
      >&laquo; Prev</a>
    {% break %} {% endif %} {% endif %} {% endfor %} {% endif %} {% endif %} {% if page.previous.short %} 
    <a class="nav-item" href="{{ page.previous.url | prepend: site.baseurl }}"
      >Next &raquo;</a>
    {% else %} {% for post in site.posts%} {% if post.long %} {% continue %} {% elsif post.rules %} {% continue %} {% elsif post.notitles %} {% continue %} {% elsif post == page %} {% continue %} {% elsif post.short %} 
    {% if page.number > post.number %}
    <a class="nav-item" href="{{ post.url | prepend: site.baseurl }}"
      >Next &raquo;</a>
    {% break %} {% endif %} {% endif %} {% endfor %} {% endif %} {% endif %}
  </div> -->

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">{{ content }}</article>
  <script src="https://giscus.app/client.js"
        data-repo="konsent/konsent.github.io"
        data-repo-id="R_kgDOHb--7w"
        data-category="Announcements"
        data-category-id="DIC_kwDOHb--784CSLqE"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="ko"
        crossorigin="anonymous"
        async
></script>
</div>
